<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <%- include('partials/lib') %> 
</head>

<body>

    <!---------------------- CHALLENGE PLAYER POP UP ----------------------->
    <button id="challengeModal" type="button" data-bs-toggle="modal" data-bs-target="#challenge" hidden></button>
    
    <div class="modal fade" id="challenge" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="challengePlayer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="challengePlayer"></h5>
              <div class="challengeTimer"></div>
              <button type="button" class="btn-close modalClose" data-bs-dismiss="modal" aria-label="Close" hidden></button>
            </div>
            <form action="/">
                <div class="modal-body">
                    Rounds : 
                    <select name="rounds" id="rounds">
                        <option value="1">1</option>
                        <option value="3" selected="selected">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="cancelBtn" type="submit" class="btn btn-secondary">Cancel</button>
                    <button id="modalBtn" type="submit" class="btn btn-primary">Challenge</button>
                </div>
            </form>
          </div>
        </div>
    </div>

    <!---------------------- CHALLENGER POP UP ----------------------->
    <button id="challengerModal" type="button" data-bs-toggle="modal" data-bs-target="#challenger" hidden></button>
    
    <div class="modal fade" id="challenger" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="challengerPlayer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="challengerPlayer"></h5>
              <div class="challengeTimer"></div>
              <button type="button" class="btn-close modalClose" data-bs-dismiss="modal" aria-label="Close" hidden></button>
            </div>
            <div id="challengerRounds" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="declineChallenge" type="button" class="btn btn-danger">Decline</button>
                <button id="acceptChallenge" type="button" class="btn btn-success">Accept</button>
            </div>
          </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2" id="chat">
                <ul id="messages">
                    <li class="connection joining"><%= `${players[players.length-1].username} joined the lobby!` %></li>
                </ul>
                <form id="formSubmit" action="">
                    <input id="input" autocomplete="off" />
                    <button>Send</button>
                </form>
            </div>
            <div id="gameBoard" class="container-fluid col-8">
                <div id="gameStatus" class="container">
                    <h2 id="winner">&nbsp;</h2>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col" id="yourTurn">&nbsp;</div>
                    </div>
                </div>
                <div class="container text-center mt-5">
                    <div class="row">
                        <div class="col-5 timer">&nbsp;</div>
                        <div class="col-2"></div>
                        <div class="col-5 timer"></div>
                    </div>
                </div>
                <div id="names" class="container text-center">
                    <div class="row">
                        <div class="col-5"><h2 id="myUsername">&nbsp;</h2></div>
                        <div class="col-2"><h2 id="vs"></h2></div>
                        <div class="col-5"><h2 id="opponent"></h2></div>
                    </div>
                </div>
                <div id="scores" class="container mb-5 text-center">
                    <div class="row">
                        <div class="col-5"><h1 class="score">&nbsp;</h1></div>
                        <div class="col-2"></div>
                        <div class="col-5"><h1 class="score"></h1></div>
                    </div>
                </div>
                <table class="table mt-5">
                    <tbody class="container-fluid">
                        <tr class="row justify-content-center">
                            <td class="col-1"><div class="cell"></div></td>
                            <td class="col-1"><div class="cell"></div></td>
                            <td class="col-1"><div class="cell"></div></td>
                        </tr>
                        <tr class="row justify-content-center">
                            <td class="col-1"><div class="cell"></div></td>
                            <td class="col-1"><div class="cell"></div></td>
                            <td class="col-1"><div class="cell"></div></td>
                        </tr>
                        <tr class="row justify-content-center">
                            <td class="col-1"><div class="cell"></div></td>
                            <td class="col-1"><div class="cell"></div></td>
                            <td class="col-1"><div class="cell"></div></td>
                        </tr>
                    </tbody>
                </table>   
            </div>
            
            <div id="onlinePlayers" class="col-2">
                <ul id="playersUL">
                    <div id="onlinePlayersMSG">Online Players (Click to challenge) :</div>
                    <li id="myName" class="playerList"><span class="bullet active">&bull;</span><%= `${players[players.length-1].username} (You)`%><span class="playerLink"><%= players[players.length-1].playerID %></span></li>
                    <% for(let i = 0 ; i < players.length-1 ; ++i) { %>
                        <li class="playerList"><span class="bullet <% if(players[i].isActive === true) { %><%= 'active' %><% } else { %><%= 'inAMatch' %>
                            <% } %>">&bull;</span><%= players[i].username %><span class="playerLink"><%= players[i].playerID %></span></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </div>
    
    <span id='username' hidden>
        <%= JSON.stringify(players[players.length-1]) ; %>
    </span>
    <script src="/js/app.js"></script>
</body>

</html>
